name: Test ELF

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build CMake
      run: |
        python Tests/build.py

  Local-Tests:
    runs-on: ubuntu-latest
    needs: [Build]
    steps:
    - uses: actions/checkout@v2
    - name: Test ELF
      run: |
          python Tests/test_elf.py
