name: Test ELF

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Local-Tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build CMake
      run: |
          cmake CMakeLists.txt
          make
    - name: Test ELF
      run: |
          python Tests/test_elf.py
